
div {
    width: 100%;
    font-size: calc(10px + 2vmin);
}

.FormContainer {
    width: 80%;
    margin-top: 100px;
    padding: 10px;
    background-color: white;
}

form {
    border: 1px solid rgb(175, 175, 175);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur( 2px );
    padding: 10px;
}

form label {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

form input {
    width: 80%;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

button {
    padding: 5px;
    margin: 10px;
    background-color: black;
    color: white;
    font-size: calc(7px + 2vmin);
}

.moreInfo {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.moreInfo p {
    margin-right: 10px;
}

.moreInfo a {
    color: red;
}

.errorMessage {
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.493);
}

.ex {
    color: white;
    background-color: black;
    /* width: 30px;
    height: 30px; */
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
}