
.App {
    min-height: 95vh;
    background-color: rgb(77, 147, 165);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 50px;
}